.signup-container {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.cuvette-image {
    position: absolute;
    top: 30px;
    left: 30px;
}

.top-right-buttons {
    position: absolute;
    top: 20px;
    right: 20px;
}

.top-right-buttons .login-button,
.top-right-buttons .signup-button {
    margin-left: 10px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.top-right-buttons .signup-button {
    background-color: #fff;
    color: black;
}

.top-right-buttons .login-button:hover {
    background-color: #0056b3;
}

.left-section {
    flex: 1;
    background: url('../../assets/background.png') no-repeat center center;
    background-size: cover;
}

.right-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.form-container {
    width: 80%;
    max-width: 400px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    text-align: left;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #3B3C51;
    border-radius: 5px;
    width: 100%;
}

input::placeholder {
    color: #B3B3B3;
}

.register-button {
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.register-button:hover {
    background-color: #0056b3;
}

p {
    margin-top: 20px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}